<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h1>ADMIN PAGE</h1>
    </div>

    <div>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/members/new">카테고리 등록</a>
            <a class="btn btn-lg btn-primary" href="/members">카테고리 목록</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/items/new">상품 등록</a>
            <a class="btn btn-lg btn-primary" href="/items">상품 목록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/order">회원 등록</a>
            <a class="btn btn-lg btn-primary" href="/orders">회원 조회</a>
        </p>
    </div>


</div>
</body>
</html>