spring:

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

  datasource:
    url: jdbc:mariadb://3.15.124.139:3306/db_alabooks?characterEncoding=UTF-8&serverTimezone=UTC
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1111

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    defer-datasource-initialization: true

logging:
  level:
    hello.ebookstore: debug

jwt:
  secret: c3ByaW5nLWJvb3QtaGVsbG8tZWJvb2stc3RvcmUtc3lod2FuZzQyMjMtc3ByaW5nLWJvb3Qtand0LXN5aHdhbmctaGVsbG8taGVsbG8K